@import '../../variables.scss';

.transaction__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  h2 {
    margin-bottom: .5rem;
  }

  .transaction__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem 0.2rem;

    &:nth-child(odd) {
      background: $highlight;
    }
  }

  fieldset {
    margin: 1rem 0;
    border: 1px solid $gray;

    label, button {
      margin-right: 2rem;
    }

    input[type='radio'], label, button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .group-row {
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $gray;

    &:hover {
      cursor: pointer;
    }
  }
}
