<div class="transaction__container">
  <h2>Stock Transactions</h2>
  <div class="transaction__filter">
    <form [formGroup]="groupTransactionsForm">
      <fieldset>
        <input id="createdAt" type="radio" value="createdAt" name="transactionGroup" formControlName="transactionGroup" (click)="groupList('createdAt')">
        <label for="createdAt">CreatedAt</label>
        <input id="status" type="radio" value="status" name="transactionGroup" formControlName="transactionGroup" (click)="groupList('status')">
        <label for="status">Status</label>
        <button (click)="resetGrouping(true)">Reset</button>
        <input *ngIf="!groupedByCreatedAt && !groupedByStatus" type="text" formControlName="filterByDescription" placeholder="Filter Description..." (input)="filterByDescription()">
      </fieldset>
    </form>
  </div>
  <ng-container *ngIf="!groupedByCreatedAt && !groupedByStatus">
    <div class="transaction__item bold-text">
      <span class="sm-col">Name</span>
      <span class="lg-col">Description</span>
      <span class="md-col">Date</span>
      <span class="md-col">Status</span>
    </div>
    <div class="transaction__item" *ngFor="let item of stockTransactions">
      <span class="sm-col">{{ item.name }}</span>
      <span class="lg-col text-wrap">{{ item.description }}</span>
      <span class="md-col">{{ item.createdAt | formatDate }}</span>
      <span class="md-col">{{ item.status }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="!groupedByCreatedAt && groupedByStatus">
    <div *ngFor="let list of groupedByStatusKeys">
      <div class="group-row" (click)="sortGroupedByStatus(list)">Grouped By Status: {{ list }}</div>
      <div class="transaction__item bold-text">
        <span class="sm-col">Name</span>
        <span class="lg-col">Description</span>
        <span class="md-col">Date</span>
        <span class="md-col">Status</span>
      </div>
      <div class="transaction__item" *ngFor="let item of groupedByStatus[list]">
        <span class="sm-col">{{ item.name }}</span>
        <span class="lg-col text-wrap">{{ item.description }}</span>
        <span class="md-col">{{ item.createdAt | formatDate }}</span>
        <span class="md-col">{{ item.status }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="groupedByCreatedAt && !groupedByStatus">
    <div *ngFor="let list of groupedByCreatedAtKeys">
      <div class="group-row" (click)="sortGroupedByCreatedAt(list)">Grouped By CreatedAt: {{ list | formatDate }}</div>
      <div class="transaction__item bold-text">
        <span class="sm-col">Name</span>
        <span class="lg-col">Description</span>
        <span class="md-col">Date</span>
        <span class="md-col">Status</span>
      </div>
      <div class="transaction__item" *ngFor="let item of groupedByCreatedAt[list]">
        <span class="sm-col">{{ item.name }}</span>
        <span class="lg-col text-wrap">{{ item.description }}</span>
        <span class="md-col">{{ item.createdAt | formatDate }}</span>
        <span class="md-col">{{ item.status }}</span>
      </div>
    </div>
  </ng-container>
</div>
