@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './app/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
}

.sm-col {
  width: 20%;
}

.md-col {
  width: 30%;
}

.lg-col {
  width: 50%;
}

.bold-text {
  font-weight: bold;
}

.status-completed {
  color: $success;
}

.status-pending {
  color: $pending;
}

.status-rejected {
  color: $rejected;
}

button {
  background: transparent;
  border: 0.1rem solid #dee2e6;
  padding: 0.75rem 2rem;

  &:hover {
    background: #dee2e6;
    color: $dark;
  }
}

input[type='text'] {
  margin: 1rem 0;
  padding: 0.75rem 0;
  width: 100%;
  text-indent: 1rem;
}

.text-wrap {
  word-wrap: break-word;
}
